<div class="login">

	<div class="image">
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <%= f.email_field :email, class: "email", placeholder: "example@mail.com" %>

		  <%= f.password_field :password, class: "pass", placeholder: "password" %>

		  <div><%= f.submit "" %></div>
		<% end %>

	<div class="credits"></div>

	</div>


</div>
